body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.connection-box {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.connection-box h2 {
    margin: 0 0 10px;
}

.connection-box p {
    margin: 0 0 20px;
}
.alert {
    background-color: green;
    padding: 20px 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #007BFF;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.connect-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.connect-btn:hover {
    background-color: #0056b3;
}
.create-new, .import-keystore {
    background-color: #FF5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.import-keystore {
    background-color: #FFFFFF;
    color: #1E1E1E;
    border: 1px solid #1E1E1E;
}

.import-keystore:hover {
    background-color: #f1f1f1;
}

.create-new:hover {
    background-color: #E64A19;
}
.import-keystore {
    display: none;
}

.file-label {
    background-color: #FFFFFF;
    color: #1E1E1E;
    border: 1px solid #1E1E1E;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #f1f1f1;
}